* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* 导航条*/
header {
  height: 76px;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0 0 5px #cecfcf inset;
}
header .head {
  width: 70%;
  text-align: left;
  margin: 0 auto;
}
header .head .logo {
  padding-top: 13px;
  float: left;
}
header .head nav {
  float: left;
  padding: 28px 0 0 40px;
}
header .head nav ul {
  list-style: none;
}
header .head nav ul li {
  float: left;
  padding: 0 25px;
}
header .head nav ul li a {
  font-size: 20px;
  color: #333;
}
header .head nav ul .on a {
  color: #fe5341;
}
header .head .login {
  float: right;
  transition: all 0.15s linear;
  margin-top: 23px;
  font-size: 16px;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  border: 1px #fe5341 solid;
  color: #fe5341;
}
header .head .login:hover {
  background-color: #fe5341;
  color: white;
  transition: all 0.15s linear;
}
header .head .search {
  float: right;
  background: url(../../试用/img/search.png) no-repeat;
  transition: transform 0.08s ease;
  width: 42px;
  height: 40px;
  line-height: 999;
  overflow: hidden;
  margin-top: 28px;
  margin-right: 15px;
}
header .head .search:hover {
  transform: scale(1.2);
}
/* 版心部分*/
.box h1 {
  font-size: 40px;
  color: #333;
  text-align: center;
  margin-top: 38px;
  font-weight: 500;
}
.box .nav {
  width: 648px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.box .nav a {
  width: 125px;
  display: inline-block;
  font-size: 21px;
  color: #a3a3a3;
  line-height: 40px;
}
.box .nav .on {
  border-bottom: 5px solid #e23434;
  color: #e23434;
}
.box .item {
  width: 100%;
  background: #f7f7f7;
}
.box .item .item1 {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
  margin-left: 221px;
  height: 1300px;
  background: #f7f7f7;
  display: block;
}
.box .item .item1 #shu {
  width: 1062px;
  list-style: none;
  height: 1145px;
  padding-bottom: 20px;
  background: #f7f7f7;
  overflow: hidden;
}
.box .item .item1 #shu li {
  width: 226px;
  height: 270px;
  line-height: 29px;
  float: left;
  background: #fff;
  margin-right: 37px;
  margin-bottom: 20px;
  border: 1px solid #e6e9e9;
  border-radius: 6px;
}
.box .item .item1 #shu li a {
  height: 100%;
  color: #474747;
  display: block;
  outline: none;
}
.box .item .item1 #shu li a img {
  width: 226px;
  height: 130px;
  border-radius: 6px 6px 0 0;
}
.box .item .item1 #shu li a img:hover {
  animation: shu 2s linear;
}
.box .item .item1 #shu li a .text {
  padding: 5px 10px 3px;
}
.box .item .item1 #shu li a .text p {
  font-size: 14px;
}
.box .item .item1 #shu li a .text span {
  font-size: 13px;
  color: #a3a3a3;
}
.box .item .item1 #shu li a .jiage {
  margin-bottom: 0;
}
.box .item .item1 #shu li a .jiage .price {
  color: #fe5341;
  font-size: 15px;
  float: left;
  margin-left: 11px;
}
.box .item .item1 #shu li a .jiage .icon {
  float: right;
  margin-right: 9px;
}
.box .item .item1 #shu li a .jiage .icon span {
  display: inline-block;
  padding-left: 14px;
  margin-left: 3px;
  color: #a3a3a3;
  font-size: 12px;
}
.box .item .item1 #shu li a .jiage .icon .xin {
  background: url(../../导购、报告/images/xin.png) no-repeat 0px 7px;
}
.box .item .item1 #shu li a .jiage .icon .look {
  background: url(../../导购、报告/images/reply.png) no-repeat 0px 7px;
}
.box .item .item1 .more {
  width: 1062px;
  height: 30px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}
.box .item .item1 .more img {
  width: 23px;
  margin-top: 10px;
}
.box .item .item1 .more span {
  font-size: 16px;
  color: #fe5341;
}
/* 动画部分*/
@keyframes shu {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
